<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin</title>
</head>
<body>
    <div id="form">
        <div id="signin">
            <!-- Sign in  -->
            <form action="/signin-validation" method="post">

                <div class="int1">
                    <input id="int" type="text" name="name" placeholder="name" required>
                </div>
                <div class="int2"> 
                    <input id="intt" type="text" name="password" placeholder="Password" required>
                </div>
                <div id="alert-box1">
                    <% if(locals.login==1){%> 
                        <p>Wrong Username or Password!!</p>
                    <%}%> 
                </div>
                <button type="submit" id="Sin">Sign in</button>
            </form>
            
        </div>
</body>
</html>