<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <form action="/signup-details" method="post">
        <div class="val1">
            <input id="name" type="text" name="name" placeholder="Name" required>
        </div>
        <div class="val2">
            <input id="email" type="email" name="email" placeholder="Email id" required>
        </div>
        <div class="val3">
            <input id="phone_no" type="text" name="phone" placeholder="Phone Number" required>
        </div>
        <div class="val4">
            <input id="password" type="password" name="password" placeholder="Password" required>
        </div>
        <div class="val5">
            <input id="confirmpass" type="password" name="confirmpass" placeholder="Confirm Password" required>
        </div>
        <div id="alert-box1">
            <% if(locals.success==1){%>
                <p>Confirm password wrong!!</p>
                <%}%>
        </div>
        <button type="submit" id="Sin">Sign Up</button>
    </form>
</body>
</html>